  body {
    background: url("../img/background.png") repeat;
  }
  .body-content{
    background-color: #fff;
    padding-top: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 20px  rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 2px 20px  rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.8);
  }

  footer {
  padding: 30px 0;
}